@model JSearch.ViewModels.JudgeViewModel


@{
    ViewBag.Title = "Add Judge";
}

<h2>Add Judge</h2>

@using (Html.BeginForm("CreateJudge","Judge"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(j => j.JudgeName)
        @Html.TextBoxFor(j => j.JudgeName, new { @class = "form-control",autofocus = "autofocus"})
        @Html.ValidationMessageFor(j => j.JudgeName)
    </div>

    <div class="form-group">
        @Html.LabelFor(j => j.JudgeRemarks)
        @Html.TextBoxFor(j => j.JudgeRemarks, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(j => j.JudgeRemarks)
    </div>

    <div class="form-group">
        @Html.LabelFor(j => j.JudgeStatus)
        @Html.TextBoxFor(j => j.JudgeStatus, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(j => j.JudgeStatus)
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    @Html.ActionLink("Go to List", "Index")
}
